:root {
    --accent: #2E1EDA;
    --accent-mini: #FEDD32;
    --bg: #FF6400;
    --text-dark: #FDB82C;
    --text-light: #ffffff;
    --index: calc(1vw + 1vh);
}

@font-face {
    font-family: Halvar;
    src: url(../fonts/Halvar\ Breitschrift\ Bold.ttf);
}

@font-face {
    font-family: Codec;
    src: url(../fonts/Codec-Pro-Variable-trial.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    color: #F5F5F5;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;  
}

h1,h2,h3,h4,h6 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 2059px;
    padding: 0 15px;
    margin: 0px auto;
}

/* Стили для Header */

.header {
    background-color: #2D00DE;
}
.header__inner {
    display: flex;
    flex-flow: column wrap;
}

.header__logo {
    width: 50%;
}
.header__logo img {
    max-width: 730px;
    min-width: 315px;
}

.discription {
    align-self: flex-end;
   
}

.discription__inner {
    white-space: pre-wrap;

    margin-bottom: 40px;
    margin-right: 160px;
    margin-left: 30px;

    font-family: Codec;
    font-weight: 177;
    line-height: 110%;
    font-size: 40px;
}

@media (max-width: 1085px) {
    .discription {
        align-self: start;
       
    }
    .discription__inner {
        margin-right: 0;
        font-size: 30px;
    }
}

@media (max-width: 720px) {
    .discription__inner {
        margin-left: 20px;
        font-size: 25px;
    }
}

/* Стили для main*/
.main__header {
    display: flex;
    flex-direction: row-reverse;
}
.main__header__content {
    display: flex;
    white-space: pre-wrap;
    text-align: start;

    margin-right: 330px;
    margin-top: 70px;

    text-transform: uppercase;
    font-family: Halvar;
    font-weight: 700;
    color: var(--accent);
    font-size: 100px;
}

.main__item {
    text-transform: uppercase;

    margin-left: 47px;

    font-family: Halvar;
    font-weight: 700;
    color: var(--accent);
    font-size: 330px;
}

.main__item__box {
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 1085px) {
    .main__header {
        flex-direction: row;
    }
    .main__header__content {
        margin-right: 0;
        margin-left: 21px;
        font-size: 80px;
    }
    .main__item {
        margin-left: 9px;
        font-size: 200px; 
    }
    .main__item__box {
        flex-direction: row;
    }
}

@media (max-width: 720px) {
    .main__header__content {
        font-size: 50px;
        margin-bottom: 25px;
    }
    .main__item {
        font-size: 150px;
    }
}

@media (max-width: 481px) {
    .main__header__content {
        font-size: 40px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 13px;
    }
    .main__item {
        font-size: 60px;
    }
}

/* Стили для Card One*/

.card {
    background-color: var(--accent);
    margin-top: 80px;
    padding-bottom: 20px;
}

span {
    font-weight: 250;
}

.date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-family: Halvar;
    font-weight: 700;
    font-size: 170px;
}

.content {
    display: flex;
    justify-content: space-between;
    
}
.reverse {
    margin-right: 81px;
    text-align: right;
}

.content__reverse {
    display: flex;
    flex-direction: row-reverse;
}

.content__photo {
    margin-right: 84px;

    max-width: 666px;
    max-height: 711px;
}
.content__photo img {
    width: 100%;
}

.content__info {
    width: 100%;
}

.info__lector {
    white-space: pre-wrap;
    text-transform: uppercase;

    font-family: Codec;
    font-weight: 177;
    font-size: 40px;

    margin-bottom: 30px;
}

.info__discription {
    white-space: pre-wrap;
    text-transform: uppercase;

    font-family: Halvar;
    font-weight: 700;
    font-size: 64px;

    margin-bottom: 15px;
}

.info__idea {
    white-space: pre-wrap;

    font-family: Codec;
    font-weight: 177;
    font-size: 40px;

    margin-bottom: 75px;

    color: var(--text-dark);
}
.reg {
    display: flex;
    flex-direction: row-reverse;
}

.reg__reverse {
    display: flex;
    flex-direction: row;
}

.reg a {
    background-color:var(--text-dark);
    color: var(--accent);
    text-decoration: none;
    text-transform: uppercase;

    font-family: Halvar;
    font-weight: 700;
    font-size: 50px;

    padding: 36px 46px;
}
.reg__reverse a {
    background-color:var(--text-dark);
    color: var(--accent);
    text-decoration: none;
    text-transform: uppercase;

    font-family: Halvar;
    font-weight: 700;
    font-size: 50px;

    padding: 36px 46px;
}

@media (max-width: 1530px) {
    .info__lector {
        font-size: 30px;
    }
    .info__discription {
        font-size: 54px;
    }
    .info__idea {
        font-size: 30px;
        margin-bottom: 40px;
    }
    .reg {
        flex-direction: row;
    }
}

@media (max-width: 1400px) {
    .info__lector {
        font-size: 20px;
        margin-bottom: 45px;
    }
    .info__discription {
        font-size: 34px;
        margin-bottom: 45px;
    }
    .info__idea {
        font-size: 20px;
        margin-bottom: 45px;
    }
    .reg a {
        font-size: 30px;
        padding: 26px 36px;
    }

    .reg__reverse a {
        font-size: 30px;
        padding: 26px 36px;
    }
}

@media (max-width: 1200px) {
    .date {
        display: block;
        text-align: end;

        font-size: 120px;
    }
    
    .content {
        flex-wrap: wrap;
        justify-content: start;
    }
    .content__reverse {
        flex-wrap: wrap;
        justify-content: start;
    }

    .info__lector.reverse {
        text-align: left;
    }
    .info__discription {
        text-align: end;
    }

    .info__idea {
        text-align: end;
    }
}

@media (max-width: 760px) {
    .date {
        text-align: start;
        font-size: 90px;
    }
    
    .content {
        justify-content: start;
    }
    .info__discription {
        text-align: start;
    }
    .info__idea {
        text-align: start;
    }

    .reg a {
        font-size: 25px;
        padding: 15px 20px;
    }
}

/* Стили для Social*/
.social {
    margin-top: 130px;
    padding-bottom: 100px;
}
.social__tittle {
    color: var(--accent);

    text-transform: uppercase;
    text-align: center;

    font-family: Halvar;
    font-weight: 700;
    font-size: 50px;

    margin-bottom: 49px;
}

.social__img {
    display: flex;
    justify-content: center;
}

.social__img a {
    max-width: 130px;
    max-height: 130px;

    margin-right: 20px;
}

a img {
    width: 100%;
}

@media (max-width: 590px) {
    .social__img a {
        margin-right: 0;
    }
    .social__tittle {
        font-size: 40px;
    }
}

/* Стили для Map */

.map {
    background-color: var(--accent);
}

.map__img {
    display: flex;
    justify-content: center;

}

.map__inner img {
    margin-top: -180px;
    width: 60%;
}

.map__content {
    white-space: pre-wrap;
    text-transform: uppercase;

    font-family: Halvar;
    font-weight: 700;
    font-size: 50px;

    padding-top: 80px;

    color: var(--text-dark);
}

@media (max-width: 1400px) {
    .map__inner img {
        margin-top: -110px;
    }
}

@media (max-width: 1150px) {
    .map__inner img {
        margin-top: 0;
    }
}

@media (max-width: 720px) {
    .map__content {
        font-size: 30px;
    }
    .map__inner img {
        width: 100%;
    }
}
