:root {
    --accent: #2E1EDA;
    --accent-mini: #FEDD32;
    --bg: #FF6400;
    --text-dark: #FDB82C;
    --text-light: #ffffff;
    --index: calc(1vw + 1vh);
}

@font-face {
    font-family: Halvar;
    src: url(../fonts/Halvar\ Breitschrift\ Bold.ttf);
}

@font-face {
    font-family: Codec;
    src: url(../fonts/Codec-Pro-Variable-trial.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    color: #F5F5F5;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}

h1,h2,h3,h4,h6 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 2059px;
    padding: 0 15px;
    margin: 0px auto;
}

/* Стили для Header */

.header {
    background-color: #2D00DE;
}
.header__inner {
    display: flex;
    flex-flow: column wrap;
}

.header__logo {
    width: 50%;
}
.header__logo img {
    max-width: 730px;
    min-width: 315px;
}

.discription {
    align-self: flex-end;
   
}

.discription__inner {
    max-width: 876px;

    margin-bottom: 40px;
    margin-right: 160px;
    margin-left: 30px;

    font-family: Codec;
    font-weight: 177;
    line-height: 110%;
    font-size: 40px;
}

@media (max-width: 1085px) {
    .discription {
        align-self: start;
       
    }
    .discription__inner {
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 30px;
    }
}

@media (max-width: 720px) {
    .discription__inner {
        margin-left: 20px;
        margin-bottom: 14px;
        font-size: 25px;
    }

    .header__inner {
        padding-bottom: 30px;
    }
}

@media (max-width: 595px) {
    .discription__inner {
        font-size: 24px;
    }
}

/* Стили для main*/
.main {
    background-attachment: fixed;
}
.main__header {
    display: flex;
    flex-direction: row-reverse;
}
.main__header__content {
    display: flex;
    white-space: pre-wrap;
    text-align: start;

    margin-right: 400px;
    margin-top: 70px;

    text-transform: uppercase;
    font-family: Halvar;
    font-weight: 700;
    color: var(--accent);
    font-size: 90px;
    line-height: 90%;

    transform: translate(10%,0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.main__header__content._active {
    transform: translate(0px,0px);
    opacity: 1;
}

.main__item {
    text-transform: uppercase;

    margin-left: 47px;

    font-family: Halvar;
    font-weight: 700;
    color: var(--accent);
    font-size: 330px;

    transform: translate(-20%,0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.main__item._active {
    transform: translate(0px,0px);
    opacity: 1;
}

.main__item__box {
    display: flex;
    flex-direction: row-reverse;
}

.main__item__content {   
    margin-top: -15px;
    line-height: 85%;

    transform: translate(-10%,0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

@media (max-width: 1085px) {
    .main__header {
        flex-direction: row;
    }
    .main__header__content {
        margin-right: 0;
        margin-left: 21px;
        margin-bottom: 20px;
        font-size: 60px;
    }
    .main__item {
        margin-left: 9px;
        font-size: 200px; 
    }
    .main__item__box {
        flex-direction: row;
    }
}

@media (max-width: 720px) {
    .main__header__content {
        font-size: 50px;
        margin-bottom: 25px;
    }
    .main__item {
        font-size: 150px;
    }
}

@media (max-width: 481px) {
    .main__header__content {
        font-size: 30px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 13px;
    }
    .main__item {
        font-size: 90px;
    }

    .main__item__content {   
        margin-top: -6px;
    }
}

/* Стили для Card One*/

.card {
    background-color: var(--accent);
    margin-top: 80px;
    padding-bottom: 20px;
}

span {
    font-weight: 250;
}

.date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;

    font-family: Halvar;
    font-weight: 700;
    font-size: 170px;
}




.date__time {
    text-align: end;
}

.content {
    display: flex;
    justify-content: space-between;
    
}

.content__photo {
    margin-right: 84px;
    margin-bottom: 5px;

    max-width: 666px;
    max-height: 711px;
}
.content__photo img {
    width: 100%;
    max-height: 100%;
}

.content__info {
    width: 100%;
}

.info__lector {
    white-space: pre-wrap;
    text-transform: uppercase;

    font-family: Codec;
    font-weight: 177;
    font-size: 40px;

    margin-bottom: 30px;
}

.info__discription {
    white-space: pre-wrap;
    text-transform: uppercase;

    max-width: 802px;

    font-family: Halvar;
    font-weight: 700;
    font-size: 64px;

    margin-bottom: 15px;
}

.info__idea {
    white-space: pre-wrap;

    font-family: Codec;
    font-weight: 177;
    font-size: 40px;

    margin-bottom: 77px;

    color: var(--text-dark);
}
.reg {
    display: flex;
    flex-direction: row-reverse;
}


.reg a {
    background-color:var(--text-dark);
    color: var(--accent);
    text-decoration: none;
    text-transform: uppercase;

    font-family: Halvar;
    font-weight: 700;
    font-size: 50px;

    padding: 36px 46px;
    transition:  300ms ease-in-out;
}

.info__idea.reverse {
    margin-bottom: 175px;
}

.content__reverse {
    display: flex;
    flex-direction: row-reverse;
}

.reg__reverse {
    display: flex;
    flex-direction: row;
}

.reverse {
    max-width: none;
    margin-right: 84px;
    text-align: right;
}

.reg__reverse a {
    background-color:var(--text-dark);
    color: var(--accent);
    text-decoration: none;
    text-transform: uppercase;

    font-family: Halvar;
    font-weight: 700;
    font-size: 50px;

    padding: 36px 46px;
    transition:  300ms ease-in-out;
}

@media (max-width: 1450px) {
    .date {
        flex-direction: column;
        font-size: 150px;
    }
    .date__time {
        text-align: left;
    }
    .info__lector {
        font-size: 30px;
    }

    .info__discription {
        font-size: 44px;
    }

    .info__idea {
        font-size: 30px;
        margin-bottom: 220px;
    }

    .reg a {
        font-size: 40px;
        padding: 26px 36px;

    }

    .reg {
        flex-direction: row;
    }

    .reg__reverse a {
        font-size: 40px;
        padding: 26px 36px;
    }
    .reverse {
        text-align: left;
    }
    .content__reverse {
        display: flex;
        flex-direction: row;
    }


}

@media (max-width: 1293px) {
    .info__idea {
        margin-bottom: 176px;
    }
}

@media (max-width: 1250px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    .reverse {
        margin-right: 0;
    }
    .content__reverse {
        flex-direction: column;
    }

    .info__idea {
        margin-bottom: 100px;
    }
    .info__idea.reverse {
        margin-bottom: 100px;
    }
}

@media (max-width: 501px) {
   .date {
        font-size: 90px;
   }
   .info__lector {
        font-size: 24px;
    }
    .info__discription {
        font-size: 38px;
    }
    .info__idea {
        font-size: 28px;
    }
   .reg a {
        font-size: 26px;
        padding: 20px 30px;
    }
    .reg__reverse a{
        font-size: 26px;
        padding: 20px 30px;
    }

}

/* Стили для Social*/
.social {
    margin-top: 130px;
    padding-bottom: 100px;
}
.social__tittle {
    color: var(--accent);

    text-transform: uppercase;
    text-align: center;

    font-family: Halvar;
    font-weight: 700;
    font-size: 50px;

    margin-bottom: 49px;
}

.social__img {
    display: flex;
    justify-content: center;
}

.social__img a {
    max-width: 130px;
    max-height: 130px;
}

a img {
    width: 100%;
}

@media (max-width: 590px) {
    .social__img a {
        max-width: 90px;
        margin-right: 0;
    }
  
    .social__tittle {
        margin-bottom: 30px;
        font-size: 40px;
    }
}

/* Стили для Map */

.map {
    background-color: var(--accent);
}

.map__img {
    display: flex;
    justify-content: center;

}

.map__inner img {
    margin-top: -180px;
    width: 60%;
}

.map__content {
    white-space: pre-wrap;
    text-transform: uppercase;

    font-family: Halvar;
    font-weight: 700;
    font-size: 50px;

    padding-top: 80px;

    color: var(--text-dark);
}

@media (max-width: 1400px) {
    .map__inner img {
        margin-top: -110px;
    }
}

@media (max-width: 1150px) {
    .map__inner img {
        margin-top: 0;
    }
}

@media (max-width: 720px) {
    .map__content {
        font-size: 30px;
    }
    .map__inner img {
        width: 100%;
    }
}

/* Анимация*/

.reg a:hover {
    background-color: var(--bg);
}
.reg__reverse a:hover {
    background-color: var(--bg);
}